{{!< default}}

<div class="content-area">
    <main id="site-main" class="site-main outer" role="main">
    {{#post}}
     <header class="single-header kg-canvas">
          <h1 class="single-title">{{title}}</h1>
        </header>
            {{/post}}
            <div class="single-content kg-canvas">
                {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
                    {{#foreach tags}}
                        <a href='{{ url }}'>
                            <h2>{{ name }} <small>({{ count.posts }})</small></h2>
                        </a>
                    {{/foreach}}
                {{/get}}
            </div>
    </main>
</div>

{{#contentFor "body_class"}}{{#if @site.logo}}{{#if @site.cover_image}} with-alt-header{{/if}}{{/if}}{{/contentFor}}